<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Insurance Wizard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mb-100" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li class="mx-10">@Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
    </div>
</nav>